* {
  border: 0;
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f5f5f5;
  font-family: 'Poppins', sans-serif;
}

/* HEADER SECTION */
header {
  border-bottom: 1px solid black;
  border-bottom-width: 6px;
  padding: 2rem 2rem 1rem 2rem;
  width: 92%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4a5d79;
  position: relative;
}

header span {
  font-size: 2rem;
  cursor: pointer;
}

.header-icons {
  display: flex;
  gap: 1rem;
}

.header-icons p {
  width: 12%;
  font-size: 1rem;
  position: absolute;
  background: #133c75;
  color: #fff;
  text-align: center;
  right: 20px;
  top: 10px;

  z-index: 1;
  visibility: hidden;
}

.header-icons .save-color:hover .save-color-tooltip,
.header-icons .show-saved-color:hover .show-color-tooltip {
  visibility: visible;
}

.export-color {
  margin-left: 0.5rem;
}

.export-color #export {
  padding: 0.6rem;
  border-radius: 0.4rem;
  border: 1px solid grey;
  font-size: 1rem;
  color: #fff;
  background-color: #133c75;
}

/* COLOR PALETTE SECTION */
.color-palette {
  margin: 3rem auto 0 auto;
  width: 100vw;
  display: flex;
}

.color-palette .container-div {
  position: relative;
  display: flex;
  flex: 1 1 0;
  flex-grow: 1;
  /* width: 20%; */
  box-shadow: 0 0 14px 0px rgb(0 0 0 / 5%);
}

.color-palette .content-div {
  width: 100%;
}

/* add color bar styles */
.color-palette .bar-div {
  position: absolute;
  display: flex;
  align-items: center;
  width: 70px;
  height: 100%;
}

.color-palette .bar-div-right {
  right: 1rem;
}

.color-palette .bar-div .add-span {
  padding: 0.3rem 0.3rem;
  border-radius: 50%;
  background: #fff;
  border: 1px solid white;
  text-align: center;
}

.color-palette .bar-div .add-span i {
  font-size: 1.3rem;
  border-radius: 50%;
  padding: 0 0.3rem;
  border: 1px solid gray;
  cursor: pointer;
}

.color-palette .bar-div .add-span i:hover {
  background: #e8ebee;
}

.color-palette .bar-div .add-span-right {
  display: none;
}

.color-palette .bar-div .add-span-left {
  margin-left: -1.4rem;
}

.color-palette > div:first-of-type .bar-div .add-span-left {
  margin-left: 1rem;
}

.color-palette > div:last-of-type .bar-div .add-span-right {
  display: inline-block;
  margin-left: 1.5rem;
}

.color-palette .bar-div .add-span-left,
.color-palette > div:last-of-type .bar-div .add-span-right {
  visibility: hidden;
}

.color-palette .bar-div:hover .add-span-left,
.color-palette > div:last-of-type .bar-div:hover .add-span-right {
  visibility: visible;
}

/* div color section */
.color-palette .color {
  width: 100%;
  height: 77vh;
}

.color-palette .text-div {
  position: absolute;
  top: 18%;
  left: 30%;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  align-items: center;
}

.color-palette .text-div div {
  width: fit-content;
  margin-bottom: 1rem;
}

.color-palette .text-div div p {
  width: 7rem;
  padding: 0.3rem;
  border-radius: 0.4rem;
  font-size: 0.9rem;
  text-align: center;
  position: absolute;
  text-align: center;
  left: -10px;
  top: -36px;
  background: #000;
  color: #fff;

  z-index: 1;
  visibility: hidden;
}

.color-palette .text-div .shades-div p {
  top: 5px;
}

.color-palette .text-div .copy-div p {
  top: 46px;
}

.color-palette .text-div .lock-div p {
  top: 107px;
}

.color-palette .text-div .redo-div p {
  top: 150px;
}

.color-palette .text-div .redo-div p {
  top: 150px;
}

.color-palette .text-div .hex-div p {
  top: 240px;
}

.color-palette .text-div div:hover p,
.color-palette .text-div div:hover span {
  visibility: visible;
}

.color-palette .text-div div span {
  display: inline-block;
  font-size: 1.2rem;
  text-transform: uppercase;
  cursor: pointer;
}

.color-palette .text-div div span:hover {
  transform: scale(1.5);
}

.color-palette .text-div .hex-div {
  margin-top: 3rem;
}

/* hide color picker */
.color-palette .text-div input {
  visibility: hidden;
}

/* GENERATED SHADES AND TINTS STYLES */
.tints-shades p {
  width: 100%;
  height: 1.53rem;
  cursor: pointer;
}

/* hide/show icon buttons */
.container-div .lock-span,
.container-div .remove-span,
.container-div .copy-span,
.container-div .shades-span,
.container-div .redo-span {
  visibility: hidden;
}

.container-div:hover .lock-span,
.container-div:hover .remove-span,
.container-div:hover .copy-span,
.container-div:hover .shades-span,
.container-div:hover .redo-span {
  visibility: visible;
}

/* MEDIA QUERIES */
/* TABLETS */
@media (max-width: 830px) {
  header {
    flex-wrap: wrap;
    gap: 1rem;
    width: 96;
  }

  header h3 {
    font-size: 1.2rem;
  }
}

/* PHONES */
@media (max-width: 500px) {
  header {
    padding: 1rem 1rem 0.5rem 0.5rem;
    flex-wrap: wrap;
    gap: 2rem;
    width: 98;
  }

  header h3 {
    font-size: 1rem;
  }

  header h3 span {
    font-size: 1.3rem;
  }

  header span {
    font-size: 1.6rem;
  }
}
