* {
  border: 0;
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f5f5f5;
  font-family: 'Poppins', sans-serif;
}

/* HEADER SECTION */
header {
  border-bottom: 1px solid black;
  border-bottom-width: 6px;
  padding: 2rem 2rem 1rem 2rem;
  width: 92%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4a5d79;
  position: relative;
}

header span {
  font-size: 2rem;
  cursor: pointer;
}

.header-icons {
  display: flex;
  gap: 1rem;
}

.header-icons p {
  width: 12%;
  font-size: 1rem;
  position: absolute;
  background: #133c75;
  color: #fff;
  text-align: center;
  right: 20px;
  top: 10px;

  z-index: 1;
  visibility: hidden;
}

.header-icons .save-color:hover .save-color-tooltip,
.header-icons .export-color:hover .export-color-tooltip,
.header-icons .show-saved-color:hover .show-color-tooltip {
  visibility: visible;
}

/* COLOR PALETTE SECTION */
.color-palette {
  margin: 3rem auto 0 auto;
  width: 100vw;
  display: flex;
}

.color-palette .container-div {
  position: relative;
  width: 20%;
  flex-grow: 1;
  box-shadow: 0 0 14px 0px rgb(0 0 0 / 5%);
}

.color-palette .color {
  width: 100%;
  height: 77vh;
}

.color-palette .text-div {
  position: absolute;
  top: 18%;
  left: 40%;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  align-items: center;
}

.color-palette .text-div p {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  margin-top: 4rem;
  text-transform: uppercase;
  cursor: pointer;
}

.color-palette .text-div span {
  display: inline-block;
  font-size: 1.4rem;
  margin-right: 1rem;
  cursor: pointer;
  color: #0f3c4c;
}

.color-palette .text-div span:hover {
  transform: scale(1.5);
}

/* hide color picker */
.color-palette .text-div input {
  visibility: hidden;
}

/* GENERATED SHADES AND TINTS STYLES */
.tints-shades p {
  width: 100%;
  height: 1.53rem;
  cursor: pointer;
}

/* hide/show icon buttons */
.container-div .lock-span,
.container-div .remove-span,
.container-div .copy-span,
.container-div .shades-span,
.container-div .redo-span {
  visibility: hidden;
}

.show-icons .lock-span,
.show-icons .remove-span,
.show-icons .copy-span,
.show-icons .shades-span,
.show-icons .redo-span {
  visibility: visible;
}

/* MEDIA QUERIES */
/* TABLETS */
@media (max-width: 820px) {
  /* i couldn't make my flex wrap work :( */
  .color-palette {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .color-palette .container-div {
    width: 100%;
  }
  .color-palette .color {
    height: 40vh;
  }

  .tints-shades p {
    height: 1.403rem;
  }
}

/* PHONES */
@media (max-width: 500px) {
  header {
    padding: 1rem 1rem 0.5rem 0.5rem;
    flex-wrap: wrap;
    gap: 2rem;
  }

  header h3 {
    font-size: 1rem;
  }

  header h3 span {
    font-size: 1.3rem;
  }

  header span {
    font-size: 1.6rem;
  }

  .color-palette {
    grid-template-columns: 1fr 1fr;
  }
  .color-palette .text-div {
    top: 12%;
    left: 38%;
  }
  .color-palette .text-div p {
    font-size: 1rem;
    margin-top: 2rem;
  }
}
